#page2-admin{
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.87) , rgba(0, 0, 0, 0.205)) ;
    color: var(--text-color);
    font-family:var(--font-name);
    position: relative;
}


#page2-admin .full-title{
    border: none;
    padding: 0px;
    
}
#page2-admin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:max-content;
    padding: 20px;
}

#page2-admin nav{
  display: flex;
  justify-content: center;
  gap: 20px;

}


#page2-admin nav  a{
  color: var(--primary-color);
  border: none;
  border-radius: 40px;
  padding: 5px 20px;
  color: var(--text-color);
}

#page2-admin nav a:nth-of-type(1){
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 40px;
  padding: 5px 20px;
  color: var(--text-color);

}


nav h3{
    font-weight: 800;
    color: white
    
}

#services-box{
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}


.visit-btn {
    position: relative;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    padding: 5px 20px;
    color: white;
    background: var(--primary-color); /* START FILLED */
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 1;
    font-size: 1.0vw;
    width: 140px;
}

/* overlay that will "wipe away" */
.visit-btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
}

/* hover = remove background feel */
.visit-btn:hover {
    background: transparent;  /* empties button */
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;
    background-color: #0a0a0a;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    
}

.form-top-banner h3{
    font-weight: 300;
}
.service-form{
    min-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent ;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 70%;
    gap: 6px;
    margin-bottom: 10px;
}


.input-container label{

    color: var(--text-color);
}
.input-container input, textarea{
    width: 100%;
    padding: 8px 15px;
    background: rgb(24, 24, 24);
    border-radius: 0.3rem;
    border: none;
    color: var(--text-color);
}



.skill-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    /* background: rgba(0, 0, 0, 0.171); */
    padding: 20px;
    border-radius: 4px;
    justify-content: center;
}

.skill-container h3{
    font-weight: 300;
}

.skill-top-banner{
    display: flex;
    justify-content: start;
    align-items: center;

}

.skill-top-banner h3{
    border: none;

}

.skill-con{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 20px;

}


.card {
    max-width: 46%;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #0a0a0a;
    border: 1px solid transparent;
    display: flex;
    padding: 1.1rem;
    gap: 10px;
}
.service-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-img img{
    width: 160px;
    border-radius: 0.5rem;

}

.card a {
  text-decoration: none
}

#page2-admin-container .full-title{
    border: none;
    padding: 0px;
    
}


.image {
  object-fit: cover;
  width: 100%;
  height: 250px;
  background-color: rgb(239, 205, 255);
  background: url(../images/703194929342567440.jpg);
  background-position: center;
  background-size: cover;
}
.image1{
  background: url(../images/lee-campbell-DtDlVpy-vvQ-unsplash\ \(1\).jpg);
  background-position: center;
  background-size: cover;
}

.image2{
  background: url(../images/rob-wingate-UG9LOi8BJWQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.image3{
  background: url(../images/milad-fakurian-LZwjTfjbo6Q-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.image4{
  background: url(../images/evgeniy-smersh-wMMw8ZEs6Iw-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.image5{
  background: url(../images/altumcode-oZ61KFUQsus-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.title {
  color: var(--primary-color);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.social-btn-con{
  display: inline-flex;
  align-items: center;
  padding: 0px 8px;
  gap: 10px;
}



.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--primary-color);
  padding: 4px 8px;
  border-radius: 4px;
  transition: all 0.4s ;
  border: none;
}

.action:hover{
    transform: scale(1.1);
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}


#bottom-container{
    padding:40px;
}

@media(max-width: 960px){

.skill-con{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 20px;

}

.card {
    max-width: 90%;
    border-radius: 0.5rem;
    background-color: #0a0a0a;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    display: flex;
    padding: 1.1rem;
    gap: 10px;
}
.service-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-img img{
    width: 160px;
    border-radius: 0.5rem;

}

}

@media(max-width: 540px){

.card {
    max-width: 100%;
    border-radius: 0.5rem;
    background-color: #0a0a0a;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    display: flex;
    padding: 1.1rem;
    gap: 10px;
    display: flex;
    flex-direction: column-reverse;
}


.service-img img{
    width: 190px;
    border-radius: 0.5rem;

}
}

